<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTwasmart"
        android:hardwareAccelerated="true"
        tools:targetApi="31">

        <!-- 👑 الإصلاح الجراحي: استخدام DelegationService الصحيحة لـ TWA -->
        <service
            android:name="com.google.androidbrowserhelper.trusted.DelegationService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyTwasmart"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="${appName}"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 👑 TWA URL (يُقرأ ديناميكياً) -->
            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="${clientUrl}" />

            <!-- 👑 Splash Screen Configuration -->
            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_BACKGROUND_COLOR"
                android:resource="@color/splash_bg_color" />

            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_FADE_OUT_DURATION"
                android:value="300" />

            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_SCALE_TYPE"
                android:value="centerCrop" />

            <!-- 👑 Fallback Colors (ستعمل كبطانة حتى يستيقظ Boost.js) -->
            <meta-data
                android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"
                android:resource="@color/status_bar_color" />

            <meta-data
                android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR"
                android:resource="@color/navigation_bar_color" />

        </activity>
    </application>

</manifest>